{:kotoba.app/id "cloud.itonami.isic-2824", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreihyudqogiusrg4ho7ry5ns2krd2ockf6gjd54gsrhjtlc2cp2wcle", :kotoba.app/embed-url "ipfs://bafkreihyudqogiusrg4ho7ry5ns2krd2ockf6gjd54gsrhjtlc2cp2wcle", :published {:archive "https://kotobase.net/ipfs/bafkreihyudqogiusrg4ho7ry5ns2krd2ockf6gjd54gsrhjtlc2cp2wcle", :size 74475, :put-status 201, :get-status 200, :at "2026-08-15T14:02:43.252Z"}}
